body{
    margin:0;
    padding:0;
    background-color: #e6ecf0;
    font-size: 14px;
    font-family: Arial;
}
header#home{
    height:80px;
    width:100%;
    background-color: white;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
    z-index: 3;
}
header#home>#title{
    margin-left: 100px;
    font-size: 22px;
    color: darkslategray;
    float: left;
    margin-top: 27px;
}
header#home>#left_items{
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
}
header#home>#left_items>ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
header#home>#left_items>ul>li{
    float: left;
    margin-left: 60px;
    position: relative;
}
#home>#left_items>ul>li>div{
    height:300px;
    width: 300px;
    background-color: white;
    top: 55px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.6);
    position: absolute;
    display: none;

}
header#home>#profile{
    float: left;
}
header#home>#profile>img{
    height: 50px;
    width:50px;
    margin-left:100px;
    margin-top: 15px;
    border-radius: 50px;
}
header#home>#search{
    float: right;
}
header#home>#search>input[type="search"]{
    margin-right: 100px;
    margin-top:25px ;
    width: 230px;
    height:30px;
    border: none;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
    border-radius: 30px;
    background-color:  #e6ecf0;
    padding-left: 20px;
}
